:root {
    --navy: #164863;
    --white: #fff;
    --blue: #0111FF;
    --softgray: #F3F5F7;
    --softgray2: #CCD8E1;
    --gray: #727379;
    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #fff;
    padding: 10px 0;
}

.navbar {
    padding: 30px 0 30px 0;
    font-size: 18px;
}

.navbar-nav .nav-item {
    padding: 0 16px 0 16px;
    
}

.navbar-nav .nav-link {
    color: var(--navy);
}

.navbar-nav .nav-item .active {
    color: var(--navy);
    font-weight: var(--fwbold);
}

.navbar .nav-icons {
    display: flex;
    align-items: center;
    
}
.navbar .nav-icons .nav-icon {
    margin-left: 16px;
    font-size: 1.2em;
    color: var(--navy);
}

.content-section {
    padding: 20px;
    background-color: #fff;
}

.content-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.info-card {
    background: white;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.info-card h3 {
    font-size: 18px;
    margin-top: 0;
}

.info-card p,
.info-card ul {
    font-size: 1em;
    color: #333;
}

.info-card ul {
    padding-left: 20px;
}

.info-card {
    padding: 20px;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
}

.info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info-text {
    flex: 1;
    min-width: 200px;
}

.info-image {
    flex: 1;
    min-width: 200px;
}

.info-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ispu-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.ispu-category {
    flex: 1;
    min-width: 100px;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

.ispu-category h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.ispu-category p {
    margin: 0;
    font-size: 16px;
}
